@font-face {font-family: Audiowide; src: url('Audiowide-Regular.ttf')}
html {
    font-size: 10px;
    background: url('background.jpg') top center;
    background-size: cover;  
}

h1{
    font-family: Audiowide;
    color: rgb(205, 43, 226);
    font-size: 500%;
    position: relative;
    bottom: 7em;
    max-width: 100%; 
    left: 10em;
}

#grid {
    border-color: rgb(205, 43, 226);
    background-color: black;
    position: relative;
    border-radius: 10px;
    top: 2em;
    right: 25em;
    width: 720px;
    height: 620px;
    box-shadow: 0px 0px 12px 10px rgb(205, 43, 226);
    display:grid;
    max-width: 100%;
}

.gridItem {
    background-color: rgb(8, 8, 70);
    border: 1px solid rgb(0, 0, 0, 0.6);
}

.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    padding: 10px;
    max-width: 100%;   
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

.btns button{
    border:none;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(158, 67, 170);
    font-family:Audiowide;
    font-size: large;
    position: relative;
    margin: 15px;
    top: 1em;
    right: 10em;
    display: block;
   
}

.hbtn:hover {
    background-color: rgb(205, 43, 226);
    color: rgb(126, 236, 255);
    box-shadow: 0 1px 10px 0 rgb(126, 236, 255);
}

button:focus, input:focus {
    
    color: rgb(126, 236, 255);
    outline: none ;
   
}

#originalButton {
}
#eraseButton {
}
#randomButton {    
}

.controls {
    position: relative;
    top: 1em;
    right: 35em;
}
.controlText{
    font-family:Audiowide;
    color: rgb(205, 43, 226);
    font-size: large;
}

#sizeText{  
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
    max-width: 100%;
}
