@font-face {font-family: Audiowide; src: url('Audiowide-Regular.ttf')}
html {
    font-size: 10px;
    background: url('background.jpg') top center;
    background-size: cover;
    
}
h1{
    font-family: Audiowide;
    color: rgb(205, 43, 226);
    font-size: 500%;
    text-align: center;
    top:300px;
}
#grid {
    border-color: rgb(205, 43, 226);
    background-color: black;
    position: relative; 
    border-radius: 10px;
    bottom: 150px;
    width: 720px;
    height: 620px;
    box-shadow: 0px 0px 12px 10px rgb(205, 43, 226);
    display:grid;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}
.gridItem {
    background-color: rgb(8, 8, 70);
   
    
    border: 1px solid rgb(0, 0, 0, 0.8);

}

.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    padding: 10px;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}
.btns{
    border:none;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(205, 43, 226);
    font-family:Audiowide;
    font-size: large;
    position: relative;
}
.btns:hover{
    background-color: rgb(205, 43, 226);
    color: rgb(126, 236, 255);
    box-shadow: 0 1px 10px 0 rgb(126, 236, 255);
}
button:focus, input:focus {
    
    color: rgb(126, 236, 255);
    outline: none ;
   
}
#originalButton {
    
  
    top: 250px;
    left: 1337px;
   

}
#eraseButton {
 
    top: 370px;
    left: 1408px;
}
#randomButton {
    
    left: 1250px;
    top: 310px;
    display: inline-block;     
      
    z-index: 1;     
       
    
}
.controls {
    position: relative;
    top: 290px;
    left: 310px;
    margin: 0 auto 0 auto;
}
.controlText{
    font-family:Audiowide;
    color: rgb(205, 43, 226);
    font-size: large;
}

#sizeText{
    position:relative;
    left: 37px;
}
#wrap{
    
    height: 100%;
    width: 100%;
}
